---
layout: default
---

<div class="post">
  <div style="text-align: center;">
    <header class="post-header d-flex justify-content-center align-items-center">
      <!-- Name and Position on the Left -->
      <div style="text-align: left; margin-right: 20px;">
        <h1 class="post-title">
          {% if site.title == 'blank' %}
            <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
          {% else %}
            {{ site.title }}
          {% endif %}
        </h1>
        <p class="desc">{{ page.subtitle }}</p>
      </div>

      <!-- Profile Picture on the Right -->
      {% if page.profile.image %}
        {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
        <div style="text-align: right;">
          <img src="{{ profile_image_path }}" class="rounded-circle" 
              style="width: 150px; height: auto; border: 3px solid rgba(255, 255, 255, 0.8); box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); border-radius: 50%;" 
              alt="Profile image">
        </div>
      {% endif %}
    </header>
  </div>
  
 <div style="display: flex; justify-content: center; align-items: center; transform: translateX(-3px);">
  {% if page.profile.image2 %}
    {% assign profile_image_path = page.profile.image2 | prepend: 'assets/img/' %}
    <img src="{{ profile_image_path }}" 
         style="width: 200px; height: auto; margin-right: 40px;" 
         alt="Additional Image">
  {% endif %}

  {% if page.profile.image3 %}
    {% assign profile_image_path = page.profile.image3 | prepend: 'assets/img/' %}
    <img src="{{ profile_image_path }}" 
         style="width: 130px; height: auto; transform: translate(-20px, -1px);" 
         alt="Additional Image">
  {% endif %}
 </div>

  <article>
    <div class="clearfix">{{ content }}</div>

    <!-- News Section -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest Posts Section -->
    {% if page.latest_posts %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">Latest Posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected Papers Section -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Selected Publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social Links -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
  </article>
</div>
